@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

body,
html {
  font-size: calc(0.8rem + 0.4vw);
  height: 100%;
  scroll-behavior: smooth;
}

#progress {
  z-index: 1;
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#progress-value {
  display: block;
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 55px;
  color: #f2b035;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #cccccc;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
}
header img {
  cursor: pointer;
  margin: 10px;
  margin-right: auto;
  max-width: 80px;
  width: 100%;
  height: auto;
  border-radius: 2.5px;
  border: none;
}
header nav ul {
  cursor: pointer;
}
header nav ul li {
  display: inline-block;
  padding-right: 3vw;
}
header nav ul li a {
  color: rgb(56, 56, 56);
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 5px;
}
header nav ul li a:hover, header nav ul li a:focus {
  border-bottom: 3px solid #f2b035;
}

.hamburger {
  cursor: pointer;
  display: none;
  border-left: 1.5px solid #f2b035;
  padding: 8px 6px 8px 20px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  color: white;
  background-color: #f2b035;
  margin: 5px auto;
  transition: all 0.2s ease-in-out;
}

main {
  min-height: 100%;
}

.wave {
  background-color: #f2b035;
  text-align: center;
  margin: 0;
  padding: 0;
}
.wave svg {
  display: block;
}

.wave.upper {
  background: white;
}

.fa-circle-chevron-down {
  cursor: pointer;
  color: white;
  font-size: calc(3em + 0.4vw);
  margin: 0 auto;
  margin-top: 20px;
  /* --fa-animation-direction: reverse; */
  --fa-animation-delay: 1s;
  --fa-animation-duration: 2.7s;
  --fa-bounce-height: -10px;
  --fa-bounce-start-scale-x: 1;
  --fa-bounce-start-scale-y: 1;
  --fa-bounce-jump-scale-x: 1;
  --fa-bounce-jump-scale-y: 1;
  --fa-bounce-land-scale-x: 1;
  --fa-bounce-land-scale-y: 1;
}
.fa-circle-chevron-down:hover, .fa-circle-chevron-down:focus {
  color: black;
  border: none;
  border-radius: 50%;
  background-color: white;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  color: rgb(56, 56, 56);
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: rgb(56, 56, 56);
}

h3 {
  color: #f2b035;
}

h4 {
  font-weight: 500;
}

h5 {
  font-weight: 400;
}

.mainSectionsHeading {
  text-align: center;
}
.mainSectionsHeading p {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  margin-bottom: 10px;
}

.flex-container-about {
  display: flex;
  justify-content: space-evenly;
  margin: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.grid-container-about {
  display: flex;
  margin: 10px;
  padding: 30px;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 20px rgba(233, 233, 233, 0.15), 0px 0px 5px 5px rgba(233, 233, 233, 0.3), 0px 0px 2px 2px rgba(233, 233, 233, 0.6);
}
.grid-container-about h3 {
  text-align: center;
  margin-bottom: 10px;
}
.grid-container-about img {
  cursor: pointer;
  width: 65px;
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid-container-about-2 {
  display: grid;
  margin: 10px;
  padding: 30px;
  width: 500px;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 20px rgba(233, 233, 233, 0.15), 0px 0px 5px 5px rgba(233, 233, 233, 0.3), 0px 0px 2px 2px rgba(233, 233, 233, 0.6);
  grid-template-areas: "two two two" "three four five" "six seven eight" "nine ten eleven";
}
.grid-container-about-2 h3 {
  text-align: center;
  margin-bottom: 5px;
}
.grid-container-about-2 img {
  width: 60px;
  margin: 10px;
}

[class^=grid-item-] {
  justify-self: center;
}
[class^=grid-item-] p {
  line-height: calc((0.8rem + 0.4vw) * 1.8);
}

.grid-item-1 {
  grid-area: one;
}

.grid-item-2 {
  grid-area: two;
}

.grid-item-3 {
  grid-area: three;
}

.grid-item-4 {
  grid-area: four;
}

.grid-item-5 {
  grid-area: five;
}

.grid-item-6 {
  grid-area: six;
}

.grid-item-7 {
  grid-area: seven;
}

.grid-item-8 {
  grid-area: eight;
}

.grid-item-9 {
  grid-area: nine;
}

.grid-item-10 {
  grid-area: ten;
}

.grid-item-11 {
  grid: eleven;
}

.flex-container-projects {
  display: flex;
  margin: 70px;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

[class^=flex-item-] {
  display: flex;
  margin: 20px;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 20px rgba(233, 233, 233, 0.15), 0px 0px 5px 5px rgba(233, 233, 233, 0.3), 0px 0px 2px 2px rgba(233, 233, 233, 0.6);
  width: 550px;
  height: auto;
  text-align: center;
}
[class^=flex-item-] p {
  margin-top: 15px;
  line-height: calc((0.8rem + 0.4vw) * 1.8);
}
[class^=flex-item-] h3 {
  margin-bottom: 30px;
}
[class^=flex-item-] img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
}
[class^=flex-item-] .textProjects .moreText {
  display: none;
}
[class^=flex-item-] .textProjects.show-more .moreText {
  display: inline;
}
[class^=flex-item-] .textProjects.show-more .dotsMoreText {
  display: none;
}
[class^=flex-item-] .read-more-btn {
  margin: 5px;
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fff;
  color: #f2b035;
  border: none;
  outline: none;
  cursor: pointer;
}
[class^=flex-item-] .git-img-projects {
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
[class^=flex-item-] .git-img-projects img {
  width: 50px;
}
[class^=flex-item-] .git-img-projects button {
  display: inline-block;
  margin: 10px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: #f2b035;
  color: #fff;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}
[class^=flex-item-] .git-img-projects .fa-circle-chevron-right {
  margin-left: 10px;
}
[class^=flex-item-] .git-img-projects .fa-github {
  margin-left: 10px;
}
[class^=flex-item-] .techUsed {
  margin-top: 20px;
  border-top: #f2b035 2px solid;
  padding-top: 20px;
  color: #f2b035;
  font-weight: bold;
  font-size: 0.9rem;
}

/* In progress item */
/* .flex-item-8 {
  height: fit-content;
} */
.slideshow-container {
  position: relative;
  text-align: initial;
  cursor: pointer;
}
.slideshow-container img {
  max-width: 100%;
}
.slideshow-container .prev,
.slideshow-container .next {
  position: absolute;
  top: 35%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #f2b035;
  opacity: 30%;
}
.slideshow-container .prev:hover, .slideshow-container .prev:focus,
.slideshow-container .next:hover,
.slideshow-container .next:focus {
  opacity: 100%;
  background-color: #f2b035;
}
.slideshow-container .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slideshow-container .activeSlider,
.slideshow-container .dot:hover,
.slideshow-container .dot:focus {
  /* #717171 */
  background-color: #f2b035;
}
.slideshow-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.next {
  right: 0;
  margin-right: 20px;
  border-radius: 0 5px 5px 0;
}

.prev {
  margin-left: 20px;
  left: 0;
  border-radius: 5px 0 0 5px;
}

.container-contact-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 40px 100px 70px 100px;
}
.container-contact-form input[type=text],
.container-contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 6px 0px 16px 0;
  resize: vertical;
}
.container-contact-form input[type=text]:focus,
.container-contact-form textarea:focus {
  outline: #f2b035;
  border: 1px solid #f2b035;
}
.container-contact-form textarea {
  height: 200px;
}
.container-contact-form input[type=submit] {
  background-color: #f2b035;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.container-contact-form input[type=submit]:hover, .container-contact-form input[type=submit]:focus {
  background-color: #f1a61c;
}

footer {
  background-color: #cccccc;
  padding: 1em;
  text-align: center;
  letter-spacing: 1.5px;
}
footer a {
  text-decoration: none;
}
footer img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 20px;
}
footer h4,
footer h5,
footer p {
  padding: 1.5px;
}
footer h5 > img {
  cursor: pointer;
}

.footer_dsgvo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 10px;
}

/**** Start media queries ****/
/* Breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
); */
@media (max-width: 576px) {
  .hamburger {
    display: block;
    margin-right: 1.5vw;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  nav ul {
    position: fixed;
    right: -100%;
    top: 54px;
    gap: 0;
    flex-direction: column;
    background-color: #cccccc;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
  }
  nav ul.active {
    right: 0;
  }
  nav ul li {
    margin: 16px 0;
  }
  nav ul li a {
    color: rgb(56, 56, 56);
    font-weight: bold;
    font-size: 1.1rem;
  }

  .grid-container-about {
    width: 350px;
    margin-bottom: 40px;
    min-width: 190px;
  }
  .grid-container-about img {
    width: 70px;
  }

  .grid-container-about-2 {
    width: 350px;
    grid-template-areas: "two two" "three four" "five six" "seven eight" "nine ten";
  }
  .grid-container-about-2 img {
    width: 50px;
    margin: 5px;
  }

  .container-contact-form,
.flex-container-projects {
    margin: 40px 0 50px 0;
  }

  [class^=flex-item-] {
    margin: 20px 0 20px 0;
  }

  .slideshow-container .prev,
.slideshow-container .next {
    top: 37.5%;
    font-size: 20px;
    padding: 12px;
  }

  #progress {
    height: 45px;
    width: 45px;
  }
  #progress-value {
    font-size: 35px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #progress {
    height: 50px;
    width: 50px;
  }
  #progress-value {
    font-size: 40px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #progress {
    height: 60px;
    width: 60px;
  }
  #progress-value {
    font-size: 50px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .flex-container-projects {
    margin: 40px 0px 40px 0px;
  }

  [class^=flex-item-] {
    width: 700px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  [class^=flex-item-] {
    width: 450px;
  }
}
@media (min-width: 1400px) {
  .container-contact-form {
    margin: 40px 400px 70px 400px;
  }

  .footer_dsgvo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 450px 5px 450px;
  }
  .footer_dsgvo h4:first-child {
    border-right: solid;
    padding-right: 5px;
  }
  .footer_dsgvo h4:nth-child(2) {
    padding-left: 5px;
  }
}/*# sourceMappingURL=style.css.map */